Django==4.2.15
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.1
gunicorn==23.0.0
whitenoise==6.11.0
dj-database-url==3.0.1
psycopg2-binary==2.9.11
djangorestframework==3.16.1
django-filter==24.3
django-bootstrap4==24.3
django-cloudinary-storage==0.3.0
cloudinary==1.41.0
beautifulsoup4==4.12.3
requests==2.32.5
pillow==10.4.0
sentry-sdk==2.50.0
whitenoise
